

body, html {
  	width: 100%;
  	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
  	background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}



/* Container needed to position the button. Adjust the width as needed */
.container {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


.header {
	position: relative;
	font-family: fantasy;
	top:80px;
  	
}

.header h1{
	left:10%;
	font-weight: bolder;
	width: auto;
	font-size: 3.5vw;
	border: 2px solid pink;
	padding-bottom:30px;
	padding-top:50px;
	padding-left:30px;
	padding-right:30px;
	text-align: center;
}

.header p {
	left:15%;
	margin-top:70px;
	border: none;
	text-align: center;
	font-size: 3vw;
	color: #226666;
	
}
.container ul {
	position: fixed;
	top: 0px;
	font-size: 1.3em;
	
}
.container ul a{
	color: #669999;

}

/* Style the button and place it in the middle of the container/image */
.container .btn {
	position: absolute;
	right: 60%;
	top: 400px;
	background-color: #0D4D4D;
	color: white;
	font-size: 20px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.container .btn:hover{
	background-color: #669999;

}